# Frontend Environment Variables
VITE_API_URL=https://stratix-ai-api.vercel.app
VITE_FIREBASE_API_KEY=AIzaSyAbG3EPU0STqoFxrt3TLL7r07wKZXuGkzA
VITE_FIREBASE_AUTH_DOMAIN=stratix-ai.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=stratix-ai
VITE_FIREBASE_STORAGE_BUCKET=stratix-ai.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=349488126851
VITE_FIREBASE_APP_ID=1:349488126851:web:4ec922eb268fa1024934b6
VITE_FIREBASE_MEASUREMENT_ID=G-F1NC7ZWPDW
